header {
  .header-group {
    display: flex;
    justify-content: center;
    line-height: 100px;
    display: flex;
    justify-content: space-around;
    &__post {
      font-size: 30px;
      .post-icon {
        color: skyblue;
        text-decoration: none;
      }
    }
    &__title {
      font-family: 'Amatic SC', cursive;
      padding: 0 150px 0 300px ;

      h2 {
        font-size: 50px;
      }
    }
    &__user-name {
      display: flex;
      font-size: 20px;
      color: skyblue;
      position: fixed;
      top: 10px;
      right: 200px;
    }
    &__logout{
      font-size: 40px;
      .logout-icon {
        text-decoration: none;
        color: skyblue;
        padding-left: 150px;
      }
    }
  }
}

body {
  background-color:#FAFAFA;
  height: 100vh;
  width: 100vw;
  .main-post {
    padding-top: 150px;
    margin: 0 auto;
    overflow: scroll;
    height: 100vh;
    width: calc(100vw - 20%);
    background-color: #FFFFFF;
    .post-ranking {
      margin: 0 auto;
      height: 180px;
      width: 800px;
      border: 2px solid silver;
      margin-bottom: 30px;
      text-align: center;
      h1 {
        text-align: center;
        padding: 10px 0 10px 0;
        font-size: 30px;
        font-family: 'Amatic SC', cursive;
      }
      
      .rank {
        padding-left: 295px;
        p {
          padding-bottom: 10px;
          text-align: left;
        }
      }
    }
    .post-content {
      height: 375px;
      width: 1100px;
      margin: 0 auto;
      display: flex;
      margin-bottom: 50px;
      border: 1px solid silver;
      position: relative;
      &__image {
        height: 345px;
        width: 640px;
        margin: 17px 10px 17px 5px;
        text-align: center;
      }

      &__body {
        height: 374px;
        width: 460px;
        border-left: 1px solid silver;
        display: flex;
        align-items: center;
        .text {
          height: 300px;
          width: 440px;
          margin-left: 5px;
          &__title {
            height: 50px;
            width: 100%;
            line-height: 20px;
            text-align: center;
            border-bottom:2px solid silver ;
          }
        }
        .good {
          display: flex;
          position: absolute;
            top: 340px;
            left: 790px;
          h3 {
            padding-right: 5px;
          }
        }
        .btns {
          display: flex;
          position: absolute;
          top: 340px;
          left: 890px;
          .btn {
            margin-right: 10px ;
            text-decoration: none;
            color: skyblue;
          }
        }
      }
      
    }
  }
}